{% extends 'base.html.twig' %}

{% block body %}
<video class= "intro_video computer" autoplay loop>
  <source src="{{ url('main') }}video/teaser_gaumont.mp4" type="video/mp4" />
</video>
{% if app.user is empty %}
    <button type="button" class="btn btn-sm btn-dark register-btn">
        <a class="nav-link" href="{{ path('app_register')}}">S'enregister</a>
    </button>
{% endif %}
{% endblock %}
